@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Serif:wght@400;600&display=swap');

body{
    font-size: 62.5%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 214, 43);
    width: 80%;
    height: 50vh;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
}

@media screen and (min-width: 1280px){
    .container {
        width: 40%;
    }
}

h2 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 3px 3px white;
    text-transform: uppercase;
}

form input {
    margin: 0.5rem;
}

.age__input input {
    padding: 0.5rem;
    border-radius: 1rem;
}

form input:focus{
    outline: none;
}

.select__candidate {
    margin: 10px;
}

form label, p {
    font-size: 1.2rem;
}

button {
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
    border: 2px solid black;
    font-family: 'Noto Serif', serif;
    cursor: pointer;
    
}

p:last-child {
    font-size: 1.5rem;
    margin-right: 3rem;
    font-family: 'Montserrat', sans-serif;
}